[submodule "pages/AutonomousAnimal/caleb-mabry.github.io"]
	path = pages/AutonomousAnimal/caleb-mabry.github.io
	url = https://github.com/caleb-mabry/caleb-mabry.github.io.git
[submodule "pages/AAW"]
	path = pages/AAW
	url = https://github.com/caleb-mabry/AAW-R.git
